body{
    background-color: rgb(236, 236, 236);
}

#postsList{
    display: flex;
    flex-wrap: nowrap;
    margin: 2%;
    overflow-x: auto;
    overflow-y: hidden;
}

.post{
    background-color: #514a4a;
    color: rgb(248, 247, 247);
    margin: 2%;
    border-radius: 5%;
    padding-left: .5%;
    padding-right: .5%;
    transition: all .3s ease-in-out;
}

.post:hover{
    transform: scale(1.1);
    box-shadow: -3px -5px 10px rgb(253, 253, 253), 3px 5px 5px rgb(187, 187, 187);
}

.post img{
    width: 250px;
    height: 250px;
    border-radius: 5%;
    margin-top: 3%;
}

.post:hover img{
    border-radius: inherit;
}

.post p{
    text-align: center;
}

@media all and (max-width: 768px){

    #postsList{
        flex-direction: column;
    }

    .post{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .post:hover{
        transform: scale(1.03);
    }

    .post img{
        width: calc(95vw - 14%);
        height: auto;
    }
}