body{
    background-color: rgb(236, 236, 236);
}

#postsList{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2%;
}

.post{
    background-color: #514a4a;
    color: rgb(248, 247, 247);
    margin: 2%;
    border-radius: 5%;
    padding-left: .5%;
    padding-right: .5%;
    transition: all .3s ease-in-out;
    word-wrap: break-word;
    max-width: calc(250px + 1%);
}

.post:hover{
    transform: scale(1.1);
    box-shadow: -3px -5px 10px rgb(253, 253, 253), 3px 5px 5px rgb(187, 187, 187);
}

.post img, .post video{
    width: 250px;
    height: 250px;
    border-radius: 5%;
    margin-top: 3%;
}

.post:hover img{
    border-radius: inherit;
}

.post p{
    text-align: center;
    word-break: break-word;
}

@media all and (max-width: 768px){

    #postsList{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .post{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: calc(95vw - 8%);
    }

    .post:hover{
        transform: scale(1.03);
    }

    .post img, .post video{
        width: calc(95vw - 14%);
        height: auto;
    }
}